.navbar{
    display: flex;
    height: 80px;
    background-color: rgb(232, 243, 243);
    padding-left: 60px;
}
.navbar img{
    width: 80px;
    height: 80px;
}

.navbar h1{
    padding-left: 30px;
}

