.detailes-Container{
    background-color: rgb(150, 215, 231);
    padding-top: 10px;
    padding-left: 10px;
    margin-left: 20px;
}

.profile{
    display: flex;
}
.name-location{
    padding-left: 20px;
}

.name-title{
    margin: 0;
}
.profile img{
    border-radius: 50%;
    width: 80px;
    height: 80px;
}

.location{
    display: flex;
}

.location p{
    padding-left: 5px;
}