
.Exercise-Container{
    background-color: azure;
    display: grid;
    grid-template-columns: 4fr 2fr;
}

.cart-title{
    margin-top: 50px;
    margin-left: 100px;

}
.cart-Container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin-left: 100px;
}



.Question-Container{
    padding: 100px;
}

@media screen and (max-width:576px) {
    .Exercise-Container{
        width: 350px;
        grid-template-columns: repeat(1,1fr);
    }

    .cart-Container{
        width: 350px;
        padding: auto;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
    }
    
}